<div class="grid">
  <div class="box" job="my_job">Hi</div>
  <div class="box">Hi</div>
  <div class="box">Hi</div>
  <div class="box">Hi</div>
  <div class="box">Hi</div>
  <div class="box">Hi</div>
</div>
