<div id="dashboard">
  <grid id="grid" class="grid" rows="4" columns="4" width="200px" height="200px">
    <box job="event" widget="Number"></box>
    <htmlbox job="html" ></htmlBox>
  </grid>
</div>
